* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 85vw;
}

/* Modalità notte */
body.night-mode {
    background-color: #181a1a;
    color: #cccccc;
    border-color: #cccccc;
}

body.night-mode #logo {
    color: #cccccc;
    text-shadow: 0 0 0.3vw #cccccc;
}

body.night-mode #didascalia {
    color: #cccccc;
}

body.night-mode .riga, body.night-mode #riga_divisoria1 {
    border-color: rgba(128, 128, 128, 0.2);
}

body.night-mode h3, body.night-mode h4 {
    color: #cccccc;
}

body.night-mode #mascotte {
    filter: brightness(0.7);
}

body.night-mode #bottone_notte {
    color: rgba(128, 128, 128, 0.8);
    border-color: rgba(128, 128, 128, 0.5);
}

body.night-mode button {
    color: #cccccc;
}

body.night-mode #titolo_articolo1, body.night-mode .titolo_articolo_consigliato, body.night-mode #titolo_articolo_grande, body.night-mode .titolo_row {
    text-shadow: 0 0 0.2vw #cccccc;
}

body.night-mode .cerca {
    border-color: grey;
}

body.night-mode #articolo1, body.night-mode .contenitore_consigliato, body.night-mode #immagine_articolo1, body.night-mode #video1, body.night-mode .row {
    border-color: rgba(128, 128, 128, 0.5);
}

body.night-mode #ultima_modifica {
    color: black;
}

#testa {
    line-height: 0.85;
    margin-bottom: 1%;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

#logo, #didascalia {
    display: inline;
}

#logo {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 16vw;
    text-shadow: 0 0 0.3vw black;
}

#didascalia {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2.26vw;
    margin-bottom: 0.5%;
}

#mascotte {
    position: absolute;
    width: 19.5%;
    bottom: 0;
    right: 41.5%;
}

#bottone_notte {
    position: absolute;
    top: 7%;
    right: 1.5%;
    border: 0.3vw solid black; 
    background: none; 
    color: black; 
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 1.2vw;
    text-shadow: 0 0 0.1vw black;
    padding: 0.15%;
    cursor: pointer;
}

nav {
    position: relative;
    z-index: 1;
}

.riga {
    width: 99%;
    border: 0.205vw solid black;
    height: 0;
    margin: auto;
}

.center_text {
    text-align: center;
}

/* Stile per il bottone di accesso/creazione account */
#accesso {
    display: inline;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2.6vw;
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 0.5%;
}

/* Stile per la barra di ricerca */
.cerca {
    width: calc(100% - 1vw);
    margin-top: 1.05%;
    margin-bottom: 1%;
    background-color: lightgray;
    border: 0.35vw solid black;
    box-shadow: 0 0 0.15vw black;
}

/* Stile per il campo di input della barra di ricerca */
#input_cerca {
    width: 99%;
    height: 100%;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 2vw;
    border: none;
    outline: none;
    margin-left: 0.8%;
    background-color: lightgray;
}

/* Stile per il placeholder del campo di ricerca */
#input_cerca::placeholder {
    color: black;
    opacity: 0.3;
}

main{
    font-family: "Oswald", sans-serif;
}

#articolo1 {
    float: left;
    margin-left: 0.5%;
    margin-right: 1.2%;
    margin-bottom: 1%;
    width: 60%;
    border-right: 0.25vw solid rgba(0, 0, 0, 0.15);
}

#titolo_articolo1 {
    border: none;
    background: none;
    cursor: pointer;
    line-height: 0.5;
    font-optical-sizing: auto;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 3.89vw;
    text-shadow: 0 0 0.22vw black;
    margin-top: 1.5%;
    margin-left: 0.25%;
}

#sottotitolo_articolo1, #autore_articolo1 {
    display: inline;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 1.3vw;
    margin-top: 0.2%;
    line-height: 0.8;
}

#sottotitolo_articolo1 {
    margin-left: 0.6%;
}

#fiamma_blu {
    background: linear-gradient(0deg, #84B6E4, #235789, #E6E9ED);
    background-clip: text;
    color: transparent;
}

#autore_articolo1 {
    margin-left: 15.2%;
}

#contenitore_contenuto_articolo1 {
    position: relative;
}

#immagine_articolo1 {
    object-fit: cover;
    margin-top: 0.65%;
    margin-left: 0.65%;
    margin-right: 1.5%;
    width: 50%;
    height: 50%;
    border: 0.5vw solid black;
}

#caption_articolo1 {
    margin-left: 0.7%;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 0.8vw;
    line-height: 0.9;
}

#anteprima_articolo1 {
    position: absolute;
    top: 0.8%;
    left: 52.2%;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.235vw;
    width: 46%;
    text-align: justify;
}

#articoli_consigliati {
    float: right;
    width: 37.3%;
    margin-right: 1%;
}

#consigliati {
    text-align: center;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 2.8vw;
}

.contenitore_consigliato {
    position: relative;
    height: 16vh;
    padding: 2%;
    border: 0.35vw solid rgba(0, 0, 0, 0.2);
    margin-top: 2%;
    margin-bottom: 2%;
}

.titolo_articolo_consigliato {
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
    margin-left: 0.4%;
    line-height: 1;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 2vw;
    text-shadow: 0 0 0.17vw black;
}

#kaftus {
    font-family: 'Kaftus', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 2vw;
    text-shadow: 0 0 0.15vw black;
}

.autore_articolo_consigliato {
    margin-left: 0.6%;
    margin-top: 3.5%;
    line-height: 0;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 1.25vw;
}

#autore_modificato1 {
    background: linear-gradient(180deg, #E3896B, #E36B94, #E3B26B);
    background-clip: text;
    color: transparent;
}

#autore_modificato2 {
    background: linear-gradient(90deg, #AA6BE3, #E36BBC, #CA2CE5);
    background-clip: text;
    color: transparent;
}

.red {
    color: red;
}

#autore_modificato3 {
    background: linear-gradient(0deg, #E3DF6B, #8BE36B, #aaf804);
    background-clip: text;
    color: transparent;
}

#rayquaza {
    z-index: 1;
    position: absolute;
    top: -4vh;
    left: 68.3%;
    width: 12.1vw;
}

#buzz {
    z-index: 1;
    position: absolute;
    top: -1vh;
    left: 64%;
    width: 12.5vw;
}

#totoro {
    position: absolute;
    top: 1%;
    left: 69%;
    width: 9vw;
}

#riga_divisoria1 {
    width: 99%;
    border: 0.205vw solid #d3d3d3;
    height: 0;
    margin: auto;
}

#articolo_grande {
    float: left;
    width: 42%;
}

#titolo_articolo_grande {
    border: none;
    background: none;
    cursor: pointer;
    line-height: 1.02;
    text-align: right;
    font-optical-sizing: auto;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 4.1vw;
    text-shadow: 0 0 0.22vw black;
    margin-top: 1.5%;
    margin-right: 2%;
    margin-bottom: 0.4%;
} 

#grande {
    font-size: 4.41vw;
}

#sottotitolo_articolo_grande, #autore_articolo_grande {
    display: inline;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 1.2vw;
    line-height: 1.15;
}

#sottotitolo_articolo_grande {
    margin-left: 1.35%;
}

#autore_articolo_grande {
    margin-left: 9.8%;
}

#corallo {
    background: linear-gradient(0deg, coral, #fe8e06, #f55f51);
    background-clip: text;
    color: transparent;
}

#anteprima_grande {
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.235vw;
    width: 96.3%;
    text-align: justify;
    margin-right: 2.2%;
    margin-bottom: 1.5%;
}

#video {
    float: left;
    width: 57.9%;
}

#video1 {
    width: 98%;
    border: 0.5vw solid black;
    margin-left: 0.6%;
    margin-top: 2%;
}

#sostituzione {
    display: none;
}

#fintacaption {
    font-weight: 400;
    font-size: 0.9vw;
    line-height: 0.65;
    margin-left: 0.6%;
    margin-bottom: 1.5%;
    margin-top: 0.3%;
}

#ultimo {
    text-align: center;
}

#nuovi_articoli {
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 3.05vw;
    line-height: 1.2;
    margin-top: 0.4%;
}

.lit {
    background: linear-gradient(0deg, #ff9900, #af0f0d,#ffee30);
    background-clip: text;
    color: transparent;
}

#row_finale{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5%;
    margin-bottom: 0.4%;
}

.row {
    width: 99%;
    position: relative;
    height: 16vh;
    padding: 2%;
    border: 0.35vw solid rgba(0, 0, 0, 0.2);
    margin-top: 2.15%;
    margin-bottom: 2%;
}

#hei {
    z-index: 1;
    position: absolute;
    width: 44.3%;
    bottom: -0.7%;
    left: 54.5%;
}

#giratina {
    z-index: 1;
    position: absolute;
    width: 40%;
    bottom: -13%;
    left: 61.5%;
}

#canada {
    z-index: 1;
    position: absolute;
    width: 58%;
    bottom: 0;
    left: 53%;
}

.titolo_row {
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
    line-height: 1.25;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 1.7vw;
    text-shadow: 0 0 0.13vw black;
    margin-left: 0.35%;
}

.autore_row {
    margin-left: 0.7%;
    margin-top: 3.5%;
    line-height: 0;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 1.25vw;
}

#autore_row_modificato1 {
    background: linear-gradient(180deg, #36D9A8, #366CD9, #0002DC);
    background-clip: text;
    color: transparent;
}

#ultima_modifica {
    text-align: center;
    width: 32.5vw;
    opacity: 0.8;
    font-family: "Oswald", sans-serif;
    border: 0.35vw solid rgba(0, 0, 0, 0.2);
    background-color: #d3d3d3;
    margin-top: 0.5%;
}

#end {
    text-align: center;
    margin-bottom: 1%;
    font-size: 0.9vw;
    opacity: 0.5;
    font-family: 'Times New Roman', Times, serif;
}

#end1 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}